<link rel="stylesheet" href="/css/header.css">
<nav>
    <div class="nav">
        <img src="/images/TechNest.png" alt="Blogs website" class="logo">
        <ul class="nav-items">
            <li class="home"><a href="/">Home</a></li>
            <li class="myposts"><a href="/myposts">MyPosts</a></li>
            <li class="tredingposts"><a href="/trendposts">TredingPosts</a></li>
            <li class="about"><a href="/about">About</a></li>
        </ul>
        <% if(locals.userName) { %>
            <div class="dropdown">
                <button class="dropbtn">
                    <%= userName %>▼
                </button>
                <div class="dropdown-content">
                    <a href="/logout">Logout</a>
                </div>
            </div>
            <% } else { %>
                <button class="profile-button">Login</button>
                <% } %>
    </div>
    <script>
        document.querySelector(".profile-button").addEventListener("click", () => {
            window.location.href = "/login";
        })
    </script>
</nav>